<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main_display.css' />
    <script type="text/javascript" src="./javascripts/main_display.js"></script>
  </head>
  <body onload="initMainPage()">
  <div id="main_curtain" >
    <div id="navigator_curtain">
      <div id="start_index" class="start_index">
        <span  id="start_index_number" class="start_index_number">800</span>
      </div>
      <div id="navigator_option">
        <span id="navigator_option_down" class="navigator_option_item">
          <label id="navigator_option_label_down">Down</label>
        </span>
        <span id="navigator_option_up" class="navigator_option_item">
          <label id="navigator_option_label_up">Up</label>
        </span>
        <span id="navigator_option_mine" class="navigator_option_item">
          <label id="navigator_option_label_mine">Mine</label>
        </span>
      </div>
      <div id="navigator_content">
          <% for(var i=1; i<=20; i++) { %>
        <div id=<%= "navigator_item" + i%> class="navigator_item" style="position:absolute; top:<%=(i-1)*5%>%">
          <span id=<%= "navigator_item_name" + i%> class="navigator_item_name"></span>
          <span id=<%= "navigator_item_code" + i%> class="navigator_item_code"></span>
        </div>
          <%} %>
      </div>

    </div>
    <div id="data_display_curtain">
      <div id="main" style="width: 600px;height:400px;"></div>
        <span id="list_item_counts" >800</span>
    </div>
    <div id="option_mix_list" class="option_mix_list">
      <% for(i=1; i<=34;i++) { %>
      <div id=<%= "option_mix_item" + i%> class="option_mix_item" style="position:absolute; top:<%=25*(i-1) + 2%>px">
      </div>
      <% } %>
    </div>
    <div id="data_condition_curtain">
      <div id="option_list_first" class="option_list">
        <% for(i=1; i<=34;i++) { %>
        <div id=<%= "option_item" + i%> class="option_item" style="position:absolute; top:<%=25*(i-1) + 2%>px">
          <span id="<%= "option_item_name" + i%>" class="option_item_name"><%= "segmentRateB" + i%></span>
          <span id="<%= "option_item_sequence" + i%>" class="option_item_sequence"><%= "1.0" + i%></span>
        </div>
        <% } %>
      </div>
      <div id="option_list_second" class="option_list">
        <% for(i=1; i<=34;i++) { %>
        <div id=<%= "option_item" + (i + 34)%> class="option_item" style="position:absolute; top:<%=25*(i-1) + 2%>px">
          <span id="<%= "option_item_name" + (i + 34)%>" class="option_item_name"><%= "segmentRateB" + i%></span>
          <span id="<%= "option_item_sequence" + (i + 34)%>" class="option_item_sequence"><%= "1.0" + i%></span>
        </div>
        <% } %>
      </div>
      <div id="option_list_third" class="option_list">
        <% for(i=1; i<=34;i++) { %>
        <div id=<%= "option_item" + (i + 68)%> class="option_item" style="position:absolute; top:<%=25*(i-1) + 2%>px">
          <span id="<%= "option_item_name" + (i + 68)%>" class="option_item_name"><%= "segmentRateB" + i%></span>
          <span id="<%= "option_item_sequence" + (i + 68)%>" class="option_item_sequence"><%= "1.0" + i%></span>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  </body>
</html>
